@{
    ViewBag.Title = "Create Task";
}

@model AppTaskCreateRequest

<form asp-area="Admin" asp-controller="AppTask" asp-action="Create" method="post">

    <div class="mb-3">
        <label class="form-label">Task Title:</label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="mb-3">
        <label class="form-label">Task Description:</label>
        <textarea asp-for="Description" class="form-control" ></textarea>
    </div>

    <div class="mb-3">
        <label>Priority:</label>
        <select class="form-control" asp-for="PriorityId" asp-items="@ViewBag.Priorities">
        </select>
    </div>
    <div class="mb-3">
        <a asp-area="Admin" asp-controller="AppTask" asp-action="List" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
    <div class="text-danger lead" asp-validation-summary="All"></div>
</form>
