@{
    Layout = null;
}
@model RegisterRequest
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <div class="container">
        <div class="card p-5 mt-5 w-50 mx-auto shadow">
            <div class="text-center">
                <h5>Task Management System</h5>
                <i class="lead">Register Screen</i>
            </div>
            <form asp-area="" asp-controller="Account" asp-action="Register" method="post" class="form-floating mt-3">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="Name" placeholder="">
                    <label for="name">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="Surname" placeholder="">
                    <label for="surname">Surname</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" asp-for="Username" placeholder="">
                    <label for="username">Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" asp-for="Password" placeholder="">
                    <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="">
                    <label for="ConfirmPassword">Password Again</label>
                </div>
                <div class="d-grid gap-2">
                   
                    <button class="btn btn-lg btn-danger" type="submit" >Register</button>
                    <a class="btn btn-lg btn-primary" asp-controller="Account" asp-action="Login">Back to Login Screen</a>
                </div>

                <div class="text-danger lead" asp-validation-summary="All"></div>
            </form>
        </div>

    </div>
</body>
</html>