@{
    ViewBag.Title = "Priority Definition Screen";
}


<table class="table table-sm">
    <thead>
        <tr>
           
            <th scope="col">Definition</th>
            <th scope="col">Operation</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td>Larry the Bird</td>
            <td>
                <a asp-area="Admin" asp-controller="Priority" asp-action="Update" asp-route-id="">Update</a>
            </td>
        </tr>
    </tbody>
</table>